# File-file spesifik R/RStudio
.Rhistory
.RData
.Rproj.user/

# Folder yang dihasilkan oleh R packages
/library/
/renv/

# File-file umum yang biasa diabaikan
.DS_Store
Thumbs.db

# Jangan unggah isi dari folder results secara default
# Mahasiswa bisa hapus baris di bawah ini jika ingin mengunggah plot atau tabel spesifik
#results/*
#!results/placeholder.txt
